# Mode de fonctionnement de NodeJS: development | production
NODE_ENV=development

# Port d'écoute des requêtes sur le serveur backend
SERVER_PORT=3000

# URL complète du serveur backend pour vite
VITE_SERVER_URL=http://localhost:${SERVER_PORT}

# Phrase secrète de hash pour le cookie d'express-session
EXPRESS_SESSION_SECRET=""