# NodeJS environment mode: development | production
NODE_ENV=development

# Path to front build
SERVER_PATH_BUILT_FRONT="../front/dist"

# Server listening port
SERVER_PORT=3004

# Server url for Vite
VITE_SERVER_URL=http://localhost:${SERVER_PORT}

# Secret phrase for express-session
EXPRESS_SESSION_SECRET="secret"

# Database credentials
DATABASE_USER=pili
DATABASE_PASSWORD=pili
DATABASE_NAME=pili