# NodeJS environment mode: development | production
NODE_ENV=development

# Server listening port
SERVER_PORT=3000

# Server url for Vite
VITE_SERVER_URL=http://localhost:${SERVER_PORT}

# Secret phrase for express-session
EXPRESS_SESSION_SECRET="secret"

# Database credentials
DATABASE_USER=pili
DATABASE_PASSWORD=pili
DATABASE_NAME=pili